<div>
    <!--Navigation component defined in the navigation folder-->
    <app-navigation></app-navigation>
    <div class="container">
        <div class="canvas-container">
            <div class="tools">
                <!--Calls the functions defined in app.component.ts file when buttons are clicked-->
                <button (click)="confirmSelected($event, 'Interesting')" id="interestedButton">Interesting</button>
                <button (click)="confirmSelected($event, 'Uninteresting')" id="uninterestedButton">Uninteresting</button>
                <button (click)="clear($event)" id="clearButton">Clear</button>
            </div>
            <canvas 
                id="canvas" 
                width='750px' 
                height='500px' 
                (mousedown)="beginSelecting($event)"
                (mousemove)="select($event)"
                (mouseup)="finishSelecting($event)" 
            ></canvas>
            <input id="imageUpload" type="file" accept="image/*" (change)="uploadImage($event)">
        </div>
        <div class="JSONoutput-container">
            <div></div>
            <div>
                <button (click)="getOutput($event)" id="outputButton">JSON Output</button>
            </div>
        </div>
        <!--The content of this element is the data in the state variable JSONoutput defined in app.component.ts file-->
        <p style="text-align: left; margin-bottom: 40px;">{{JSONoutput}}</p>
    </div>
</div>