<div>
    <app-navigation></app-navigation>
    <div class="container">
        <div class="canvas-container">
            <div class="tools">
                <button (click)="confirmSelected($event, 'Interested')" id="interestedButton">Interested</button>
                <button (click)="confirmSelected($event, 'Uninterested')" id="uninterestedButton">Uninterested</button>
                <button (click)="clear($event)" id="clearButton">Clear</button>
            </div>
            <canvas 
                id="canvas" 
                width='750px' 
                height='500px' 
                (mousedown)="beginSelecting($event)" 
                (mouseup)="finishSelecting($event)" 
                (mousemove)="select($event)"
            ></canvas>
            <input id="imageUpload" type="file" accept="image/*" (change)="uploadImage($event)">
        </div>
        <div class="JSONoutput-container">
            <div></div>
            <div>
                <button (click)="getOutput($event)" id="outputButton">JSON Output</button>
            </div>
        </div>
        <p style="text-align: left; margin-bottom: 40px;">{{JSONoutput}}</p>
    </div>
</div>