<div>
    <app-navigation></app-navigation>
    <div class="container">
        <div class="canvas-container">
            <div class="tools">
                <button>Interested</button>
                <button>Uninterested</button>
            </div>
            <canvas id="canvas"></canvas>
            <input id="imageUpload" type="file" accept="image/*" (change)="uploadImage($event)">
        </div>
        <div class="JSONButton-container">
            <button>JSON</button>
        </div>
    </div>
</div>